* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.Grid {
    max-width: 1200px;
    margin: 0 auto;
}

.width_200 {
    width: 200px;
}

.hover-opacity:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hover-opacity09:hover {
    opacity: 0.9;
    cursor: pointer;
}

.padding-top_16 {
    padding-top: 16px;
}

.pd10 {
    padding: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.font-size_17 {
    font-size: 17px;
}

.font-size_14 {
    font-size: 14px;
}

.font-size_16 {
    font-size: 16px;
}

.hr-red {
    height: 4px;
    background-color: #ee4d2d;
}